<p>Stan Teurlings 2213315</p>
<h1>Casus</h1>
<p>
    Met dit project wil ik een applicatie maken waarmee mensen een schildpad
    kunnen adopteren om deze te ondersteunen. Via de applicatie kunnen
    gebruikers een schildpad adopteren en maandelijks een bedrag doneren aan de
    schildpaddenopvang die de zorg draagt voor de schildpadden.<br /><br />
    Gebruikers registreren zich met hun naam, geboortedatum, e-mailadres en
    telefoonnummer. Ze kunnen hun profiel beheren en zien welke schildpadden zij
    hebben geadopteerd. De applicatie biedt een overzicht van alle beschikbare
    schildpadden voor adoptie. Voor elke schildpad worden details getoond, zoals
    naam, leeftijd, soort, een korte beschrijving van de achtergrond en
    gezondheidstoestand, en een foto. Ook wordt vermeld in welke opvanglocatie
    de schildpad zich bevindt en hoeveel adoptanten het schildpad al heeft.<br /><br />
    Een gebruiker kan een schildpad adopteren door een maandelijkse donatie te
    kiezen uit voorgestelde bedragen, bijvoorbeeld €5, €10, of €20 per maand.
    Gebruikers kunnen meerdere schildpadden adopteren, maar elke schildpad kan
    maximaal door 10 gebruikers tegelijk worden ondersteund. Zodra de limiet van
    10 adoptanten per schildpad is bereikt, wordt de schildpad gemarkeerd als
    "volledig geadopteerd".<br /><br />
    Elke schildpaddenopvang kan hun geregistreerde schildpadden beheren. Zij
    kunnen nieuwe schildpadden toevoegen of bestaande informatie updaten. Per
    opvanglocatie worden de naam, het adres en contactgegevens weergegeven in de
    applicatie.<br /><br />
    Gebruikers kunnen via de applicatie hun maandelijkse donaties bekijken en
    aanpassen. De opvanglocaties krijgen een overzicht van de donaties die zij
    ontvangen via adopties. Gebruikers ontvangen daarnaast regelmatig updates
    over hun geadopteerde schildpad, zoals verbeteringen in de gezondheid,
    vrijlating in de natuur, of andere nieuwsberichten.<br /><br />
    Een gebruiker kan zich alleen registreren als ze 18 jaar of ouder zijn. Een
    schildpad kan niet door meer dan 10 gebruikers tegelijk worden geadopteerd.
    Donaties worden automatisch maandelijks afgeschreven, tenzij een gebruiker
    de adoptie opzegt.
</p>
