<nav>
    <ul>
        <li>
            <a
                routerLink="/"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                <h1><b>ShelterShells</b></h1>
            </a>
        </li>
        <li>
            <a
                routerLink="/users"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                User List
            </a>
        </li>
        <li>
            <a
                routerLink="/user/new"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                New User
            </a>
        </li>
        <li>
            <a
                routerLink="/about"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                About
            </a>
        </li>
    </ul>
</nav>
