nav {
	background: rgb(0,119,190);
    background: linear-gradient(90deg, rgba(0,119,190,1) 0%, rgba(0,65,133,1) 50%, rgba(0,119,190,1) 100%);
	color: white;
    margin-left: none;
    padding-left: 15%;
    padding-bottom: 5px;
}  

ul {
    padding-left: 0px;
}

li {
    display: inline;
    padding-left: 60px;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    color: #f1f1f1;
}

li a.active {
    font-weight: bold;
}