<nav class="navbar navbar-expand-lg pt-4">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a
                    class="nav-link active"
                    routerLink="/"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >
                    <h1><b>ShelterShells</b></h1>
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/users"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >
                    User List
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/user/new"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >
                    New User
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/about"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >
                    Over ons
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/login"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >
                    Inloggen
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/register"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                >
                    Aanmelden
                </a>
            </li>
        </ul>
    </div>
</nav>
