/* Navigation Bar Styles */
nav {
    background: rgb(0, 119, 190);
    background: linear-gradient(
        90deg,
        rgba(0, 119, 190, 1) 0%,
        rgba(0, 65, 133, 1) 50%,
        rgba(0, 119, 190, 1) 100%
    );
    color: white;
    padding: 10px 15%;
}

.navbar-nav {
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white !important;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
}

.nav-link:hover {
    color: #f1f1f1 !important;
}

.nav-link.active {
    font-weight: bold;
}
