<h1 class="text-center mt-5">Welkom bij ShelterShells</h1>
<img src="assets/turtle.png" class="w-100 mt-4" />
<p class="mt-4">
    Een uniek initiatief dat gericht is op het beschermen en ondersteunen van
    schildpadden wereldwijd. Onze missie is om bedreigde schildpadden te helpen
    overleven door hun leefomgeving te verbeteren, hen te voorzien van medische
    zorg en hen te beschermen tegen menselijke bedreigingen zoals vervuiling,
    habitatverlies en stroperij.
</p>
<p class="mt-4">
    Bij ShelterShells kun je een schildpad adopteren. Dit betekent niet dat je
    de schildpad fysiek mee naar huis neemt, maar dat je bijdraagt aan de zorg
    en bescherming van deze fascinerende dieren. Met jouw steun zorgen wij
    ervoor dat ze een veilige omgeving hebben waarin ze kunnen gedijen.
</p>
<h2 class="mt-5">Waarom is dit nodig?</h2>
<p class="mt-3">
    Schildpadden spelen een cruciale rol in ecosystemen, van het in stand houden
    van zeegrasvelden tot het reguleren van kwallenpopulaties. Helaas worden ze
    wereldwijd bedreigd door illegale handel, plasticvervuiling en de
    vernietiging van hun leefgebied. Zonder hulp van organisaties zoals
    ShelterShells lopen deze prachtige dieren een groot risico om uit te
    sterven.
</p>
<p class="mt-4">Door een schildpad te adopteren:</p>
<ul>
    <li class="mt-1">
        Draag je bij aan hun bescherming: Jouw donatie wordt gebruikt voor
        voedsel, medische zorg en monitoring van de schildpadden.
    </li>
    <li class="mt-1">
        Ontvang je updates: Je krijgt regelmatig foto’s, video’s en informatie
        over de schildpad die jij steunt, zodat je een persoonlijke band kunt
        opbouwen.
    </li>
    <li class="mt-1">
        Help je de natuur: Schildpadden beschermen betekent ook het behoud van
        gezonde oceanen en biodiversiteit.
    </li>
</ul>
<p class="mt-4">
    Doe mee en help ons een verschil te maken! Samen kunnen we ervoor zorgen dat
    schildpadden blijven bestaan voor toekomstige generaties.
</p>
